
<ul class="MENU">
    <li><a href="#">LUGARES TURISTICOS</a></li>
    <li><a href="#">HOTELES</a></li>
    <li><a href="#">PLATOS TIPICOS</a></li>
    <li><a href="#">CONTACTANOS</a></li>
</ul>

<section class="form-registro">
    <h2>FORMULARIO DE REGISTRO</h2>
    <input class="controls" type="text" name="Nombres" id="Nombres" placeholder="Ingrese Nombres">
    <input class="controls" type="text" name="Apellidos" id="Apellidos" placeholder="Ingrese Apellidos">
    <input class="controls" type="text" name="Numero De Celular" id="Numero De Celular" placeholder="Numero De Celular">
    <p> UNA VEZ REGISTRADO NO PODRA HACER CAMBIOS</p>
    <input class="botons"type="submit" value="REGISTRAR">
</section>



 <div class="footer">
     <h2>POLICIA BOLIVIANA AL SERVICIO DE SU PUEBLO</h2>
 </div>






    