
<p>PAGINA PRINCIPAL POL. BOL.</p>

    <ul class="MENU">
        <li><a href="#">INGRESO</a></li>
        <li><a href="#">CONTACTOS</a></li>
        <li><a href="#">AYUDA</a></li>
        <li><a href="#">VERSION</a></li>
    </ul>

    <section class="form-login">
        <h5>Formulario Ingreso</h5>
        <input class="controls" type="text" name="USUARIO" value="" placeholder="USUARIO">
        <input class="controls" type="password" name="CONTRASENA" value="" placeholder="CONTRASEÑA">
        <input class="buttons" type="submit" name="" value="INGRESAR">
        <P><a href="#">¿OLVIDASTE TU CONTRASEÑA?</a></P>
    </section>

    