.MENU{
    list-style: none;
    padding: 0;
    background: #046811;
    width: 90%;
    max-width: 2000px;
    margin: auto ;
}

.MENU li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

.MENU li{
    display: inline-block;
    text-align: center;
}

.MENU li a:hover{
    background: #c9dd14;
    text-decoration:none;
    color: navy;
}

.form-registro{
    width: 800px;
    height: 500PX;
    background: rgb(33, 131, 3);
    padding: 100px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
}

.form-registro h2{
    font-size: 22px;
    margin-bottom: 25px;
}

.controls{
    width: 100%;
    background: rgb(168, 167, 162);
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 18px;
    border: 1px solid #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.form-registro p {
    height: 40px;
    text-align: center;
    font-size: 15px;
}

.form-registro .botons{
    width: 100%;
    background: darkblue;
    border: none;
    padding: 15px;
    color:rgb(255, 255, 255) ;
    font-size: 16px;
}

.footer{
    background-color: rgb(58, 116, 5);
    width: 1300px;
    height: 50px;
    bottom: 0;
    position: fixed;
    text-align: center;
    color: rgb(0, 0, 0);
}
